<div class="container mt-5">
  <div class="row mx-auto" style="width: 900px;">
      <div class="col-sm">
        <h1 class="mx-auto" style="width: 300px; color:rgb(214, 69, 195)">Contact Our</h1>
        <h1 class="mx-auto" style="width: 500px;">Customer Support Center</h1>
      </div>
    <div class="col-sm">
      <img src="./../assets/images/images.jpeg" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  <div>
    <div class="mx-auto mt-5" style="width: 400px;">
      <h4>Contact Information</h4>
      <h6>Please Fill out your contact information below.</h6>
    </div>
  </div>

  <form>
    <div class="row mt-2" style="width: 500px;">
      <label for="exampleInputEmail1">Name *</label>
      <div class="col-sm form-group">
        <input type="text" class="form-control">
        <small class="form-text text-muted">First Name</small>
      </div>
      <div class="col-sm">
          <input type="text" class="form-control">
          <small class="form-text text-muted">Last Name</small>
      </div>
    </div>
    
      <div class="col-sm form-group mt-2">
        <label for="exampleInputEmail1">Email *</label>
        <input type="text" class="form-control">
      </div>
      
      <div class="col-sm form-group mt-2">
        <label for="exampleInputEmail1">Phone *</label>
        <input type="text" class="form-control">
      </div>

      <div class="col-sm form-group mt-2">
        <label for="exampleInputEmail1">Address *</label>
        <input type="text" class="form-control">
      </div>
  </form>
<router-outlet></router-outlet>
